.marks{
  padding: 0;
  margin: 0;
}

.marks .grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 21px 21px;
}

.marks .grid > div:nth-child(odd){
  background-color: rgb(234,234,234);  
}

.marks .empty {
  margin: 30px 30px 30px 30px;
}

.marks .section {
  background: inherit;
}

.marks .section .heading {
  font-weight: bold;
  font-size: large;
  color: #778899;
  margin: .6rem 0; 
}

.marks .heading i {
   padding: 0 6px 0 0; 
}

.marks .section .group {
  background-color: inherit;
}

.marks .section > div{
  padding: 0 12px;
}

.marks .section .item {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  padding: .5rem .5rem; 
}

.marks .section .item i {
   padding: 0 8px 0 12px; 
}

.marks .section .item .menu{
  position: absolute;
  margin-left: -25px;
  margin-top: -15px;
  z-index: 100;
}

.marks .section .item .menu i:hover {
  color:rgb(0,128,0); 
}

.marks .section .item .edit{
  padding: 0 .5rem .5rem .5rem;
}
.marks .section .item .edit > input {
   width: 80%;
}
.marks .section .item .edit > i {
   color: green;
   font-size: 32px;
   padding: 0px 0px 0px 8px; 
   vertical-align: middle;

}
.marks .section .item .edit > i:last-child {
   color: red;
}
.marks .section .item .edit > i:hover {
  text-shadow: 1px 1px #778899;
}

.hidden {
  visibility: hidden;
}